<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Feedback Usuário </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
      html, body {
        height: 100%;
        margin: 0;
      }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center">
    <div class="container" style="max-width: 50vh;">
            <h1 class="text-center mb-4"> Envie seu Feedback! </h1>
            <form action="/feedbacks/enviar" method="POST">
                <div class="mb-3">
                    <label for="nome"> Seu nome: </label><br />
                    <input type="text" name="nome" class="form-control" style="width: 50vh;" required>
                </div>

                <div class="mb-3">
                    <label for="comentario"> Comentário: </label> <br />
                    <textarea id="comentario" name="comentario" rows="5" cols="30" class="form-control" style="width: 50vh;" required> </textarea> <br />
                </div>
                
                <button type="submit" class="btn btn-primary" style="width: 50vh;"> Enviar </button>
            </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>